body {
  background-color: #e5e5e5;
}

.container {
  width: 1010px;
  margin: 0 auto;
  background-color: #fff;
}

.warning-alert {
  width: 400px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}